.header {
    position: sticky;
    top: 0;
    box-shadow: var(--box-shadow);
    background-color: var(--app-background-color);
    margin-bottom: var(--spacer);
}

.headerTop {
    position: relative;
    padding: var(--spacer) 0;
    text-align: center;
}

.title {
    display: inline-block;
    font-size: 1rem;
    margin: 0;
}

.settings,
.back {
    position: absolute;
    top: var(--spacer);
}

.settings {
    right: var(--spacer);
}

.back {
    display: flex;
    align-items: center;
    left: var(--spacer);
    text-decoration: none;
}

.backText {
    margin-left: 3px;
}

.nav {
    display: block;
}

