.card {
    border: 1px solid var(--grey);
    border-radius: 6px;
    padding: var(--spacer);
}

.title {
    font-size: 1rem;
    margin: 1em 0;
}

.title a {
    color: var(--text-color);
    text-decoration: none;
}

.source,
.dateTime {
    font-size: var(--font-size-small);
}

.source {
    margin-right: var(--spacer);
    font-style: normal;
}

.dateTime {
    text-transform: capitalize;
}

.description {
    font-size: var(--font-size-small);
}
