.fieldset,
.list {
    margin: 0;
    padding: 0;
}

.fieldset {
    border: 0;
}

.legendWrapper {
    margin-bottom: var(--spacer);
}

.legend {
    margin-left: 0;
    padding-left: 0;
}

.list {
    list-style: none;
}

.checkbox {
    padding: calc(var(--spacer) * 0.25) 0;
}
