.fieldset,
.list {
    margin: 0;
    padding: 0;
}

.fieldset {
    border: 0;
}

.legendWrapper {
    margin-bottom: var(--spacer);
}

.list {
    list-style: none;
}

.label {
    display: flex;
    align-items: center;
    padding: calc(var(--spacer) * 0.25) 0;
}

.checkbox {
    margin-right: var(--spacer);
}
