.message {
    position: fixed;
    bottom: var(--spacer);
    left: 0;
    right: 0;
    margin: auto;
    max-width: 30em;
    font-size: var(--font-size-small);
    display: inline-block;
    padding: var(--spacer);
    z-index: 3;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-color);
    color: var(--app-background-color);
    border-radius: var(--border-radius);
}

.text {
    margin: 0 var(--spacer);
}

.close {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: var(--spacer);
    color: var(--app-background-color);
    font-size: 1rem;
    line-height: 0;
    cursor: pointer;
}

.close:hover {
    opacity: 0.5;
}
