:root {
    /* Base colours */
    --grey: #E3E3E3;
    --grey-light: #eaeaea;
    --grey-dark: #424951;
    --black: #222;
    --white: white;
    --green: #1fb5a0;
    --pink: #b834bc;

    /* Applied colours */
    --brand-color: var(--green);
    --secondary-color: var(--pink);
    --app-background-color: var(--white);
    --border-color: var(--grey);
    --text-color: var(--grey-dark);

    /* Sizing */
    --spacer: 1rem;
    --font-size-small: 0.8rem;

    /* Animation */
    --quick-transition: 0.3s;

    /* Shadow */
    --box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
    --app-background-color: var(--black);
    --text-color: var(--grey-light);
    --border-color: var(--grey-dark);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--app-background-color);
}

a {
    color: var(--text-color);
    transition: color var(--quick-transition);
}

a:focus,
a:hover {
    color: var(--brand-color);
}

.for-sr {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.for-sr:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
}
