.label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: calc(var(--spacer) * 0.5);
}

.smallPrint {
    font-size: var(--font-size-small);
    opacity: var(--soft-text-opacity);
}
