.nav {
    padding: 0 var(--spacer);
}

.list {
    display: flex;
    list-style: none;
    margin: var(--spacer) 0 0;
    padding: 0;
    overflow-x: auto;
}

.listItem + .listItem {
    margin-left: var(--spacer);
}

.link {
    display: block;
    font-size: var(--font-size-small);
    white-space: nowrap;
    padding: 0.5em 1em;
    text-decoration: none;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    transition: color var(--quick-transition), border-color var(--quick-transition);
}

.link:hover,
.link:focus {
    color: var(--brand-color);
    border-color: var(--brand-color);
}
