.title {
    font-size: 1.5rem;
    padding: 0 var(--spacer);
    margin: 0;
    text-transform: capitalize;
}

.attribution {
    padding: 0 var(--spacer);
}

.storiesList {
    list-style: none;
    margin: 0;
    padding: var(--spacer);
}

.loadingText,
.noMoreHeadlines {
    text-align: center;
    font-size: var(--font-size-small);
    margin: var(--spacer) 0;
}
